/*Reset*/
body {
  font-family: "Microsoft YaHei";
}
body, h1, h2, h3 {
  font-family: "Microsoft YaHei";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
hr {
  margin: 10px 0px;
}

/*Cover bootstrap*/
@media screen and (min-width: 1080px){
  .container {
    padding: 0;
  }
}
.container {
  max-width: 1020px;
}
.panel {
  margin-bottom: 10px !important;
  border: none !important;
}
.slick-slider {
  margin-bottom: 60px !important;
}
/*General*/
.margin-left-md {
  margin-left: 5px;
}
.margin-left-lg {
  margin-left: 15px;
}
.margin-right-md {
  margin-right: 5px;
}
.margin-right-lg {
  margin-right: 15px;
}

.margin-top-md {
  margin-top: 5px;
}
.margin-top-xl {
  margin-top: 30px;
}
.margin-top-lg {
  margin-top: 15px;
}
.margin-bottom-md {
  margin-bottom: 5px;
}
.margin-bottom-lg {
  margin-bottom: 15px!important;
}

.margin-top-no {
  margin-top: 0px;
}
.margin-top-no {
  margin-top: 0px;
}
.margin-bottom-no {
  margin-bottom: 0px;
}
.margin-bottom-no {
  margin-bottom: 0px;
}


.padding-left-md {
  padding-left: 5px;
}
.padding-left-lg {
  padding-left: 15px;
}
.padding-right-md {
  padding-right: 5px;
}
.padding-right-lg {
  padding-right: 15px;
}

.padding-left-no {
  padding-left: 0px;
}
.padding-left-no {
  padding-left: 0px;
}
.padding-right-no {
  padding-right: 0px;
}
.padding-right-no {
  padding-right: 0px;
}

.padding-top-md {
  padding-top: 5px;
}
.padding-top-lg {
  padding-top: 15px;
}
.padding-bottom-md {
  padding-bottom: 5px;
}
.padding-bottom-lg {
  padding-bottom: 15px;
}
.padding-top-no {
  padding-top: 0px;
}
.padding-top-no {
  padding-top: 0px;
}
.padding-bottom-no {
  padding-bottom: 0px;
}
.padding-bottom-no {
  padding-bottom: 0px;
}
.strong {
  font-weight: 700;
}

.header {
  width: 100%;
  height: 100px;
  margin: 15px auto;
}
.header .title {
  margin-bottom: 15px;
  text-align: right;
}
.header .links {
  text-align: right;
}
.header .links-small-screen {
  display: none;
}
.header .links a {
  color: #2885c7;
  font-size: 16px;
  margin-left: 35px;
  padding: 5px 0px;
  padding-right: 0;
  font-weight: 700;
  text-decoration: none;
}
.header .links .active {
  border-bottom: 2px solid #ff0000;
  /*background-color: #2885c7;*/
  color: #ff0000;
}
@media screen and (max-width: 767px) {
  .header {
    height: 150px;
  }
  .header .links {
    display: none;
  }
  .header .links-small-screen {
    display: block;
    position: absolute;
    top: 0px;
    right: 20px;
    text-align: right;
    z-index: 9999;
  }
  .header .links-small-screen .link-items {
    display: block;
    position: relative;
    right: 0;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  .header .links-small-screen .link-items a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
  }
}
.footer {
  margin-top: 50px;
  color: #2885c7;
  border-top: 1px solid #2885c7;
  padding-top: 20px;
  height: 120px;
}
.footer img {
  height: 90px;
}
.banner {
  width: 100%;
  height:120px;
  position: relative;
}
.banner img {
  position: absolute;
  left: 50%;
  margin-left: -750px;
  max-width: 1500px;
}

#container {
  height: 450px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li {
  float: left;
  margin-left: 15px;
  list-style: none;
}
.breadcrumbs li a {
  font-size: 14px;
  font-weight: 600;
}
