.slider img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.index-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.index-title a {
  margin-top: 5px;
  display: inherit;
}
.indexs img {
  padding: 3px;
  border: 1px solid #eee;
  width: 100%;
}
.index-title .title-cn {
  font-size: 18px;
  color: #2885c7;
  margin-right: 5px;
}
index-title .title-en {
  font-size: 16px;
  color: #aaa;
}
.title-cn {
  font-size: 22px;
  color: #2885c7;
  margin-right: 5px;
  font-weight: 700;
}
.title-en {
  font-size: 18px;
  color: #aaa;
}

.table, .table th {
  text-align: center;
  vertical-align: middle;
  valign: middle;
}
