<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping Mall</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

  <body>
    <div>
      <h2>時事熱點網絡平台</h2>
      <form>
        <input placeholder='Email' type='text' name="email" id="email">
        <input placeholder='Password' type='password' name="password" id="password">
        <div>
          用戶名 / 密碼錯誤
        </div>
        <button>登陸</button>
      </form>
    </div>

    <div class="copy">
      <div class="text-style3">Copyright &copy;
      </div>
    </div>
    <script src="{%= o.htmlWebpackPlugin.files.chunks.login.entry %}"></script>

  </body>
</html>
