.culture-side {
  /*background-color: #efefef;*/
  /*border-right: 1px solid #ddd;*/
}
.sidebar {
  border-right: 3px solid #2885c7;
}
.sidebar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px auto;
}

.sidebar a:nth-child(1) {
  margin-top: 0px;
}

.sidebar a:hover {
  background-color: #efefef;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #2885c7;
  color: #fff;
  text-decoration: none;
}

.main-content {
  border-left: 1px solid #ddd;
  font-size: 14px!important;
}

.main-content .title2 {
  color: #2885c7;
  font-size: 18px;
  margin: 10px;
  font-weight: 600;
}

.main-content .title3 {
  color: #2885c7;
  font-size: 16px;
  margin: 10px;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 20px;
}

.main-content p {
  margin-left: 30px;
  line-height: 30px;
}

.main-content img {
  padding: 5px;
  /*border: 1px solid #ddd;*/
  margin-left: 30px;
  /*width: 100%;*/
}

.items {
  margin-left: 35px;
}
.items li {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 25px;
  list-style-type: disc;
  margin-left: 15px;
}
