<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>三興樹脂</title>
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=6YNBZ-6WH3V-XBXPH-U3ZOG-YX42O-ZFFWU"></script>
    <link href="<%= htmlWebpackPlugin.files.chunks.app.css[0] %>" rel="stylesheet">
  </head>
  <body>
    <div id="app" />
    <div id="modal"></div>
    <script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
  </body>
</html>
