.profile-title {
  border-bottom: 2px solid #2885c7;
  padding: 0 10px 5px 10px;
  margin-bottom: 30px;
}

.profile-pic img {
  padding: 5px;
  border: 1px solid #ddd;
  margin-top: 10px;
  width: 100%;

}
 .profile-pic {
  width: 450px;
  margin: 0 30px 0 10px;
 }
.profile-text {
  width: 520px;
}

.profile-text p {
  line-height: 35px;
  text-indent: 2em;
}
